:root {
    --bg-color: #121212;
    --text-color: #dee4ea;
    --link-color: #518fe4;
    --head-bg-color: #06235d;
    --note-color: #222832;
    --border-color: #48566b;
    --fade-color: #9ca4af;
    --accent-color: #e89217;
    --default-font: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --heading-font: "JetBrains Mono", monospace;
    font-size: 16px;
}

body {
    background-color: var(--bg-color);
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    padding: 0rem 2rem;
    color: var(--text-color);
    display: block;
}

.horizcont {
    padding: 0rem 0rem;
    margin: 0;
    color: var(--text-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 0%;
    width: 100%;
}

p, li {
    color: var(--text-color);
    font-family: var(--default-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65;
    margin-top: 0rem;
    margin-bottom: 1.15rem;
    padding: 0;
    z-index: 3;
}

ul {
    list-style-type: none;
}

a {
    color: var(--link-color);
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

h1, h2, h3 {
    color: var(--accent-color);
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 500;
    width: 80%;
    margin-bottom: 1rem;
    z-index: 4;
}

h1 {
    font-size: 2.625rem;
}

h2 {
    font-size: 1.875rem;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--bg-color);
    border-right: 3px solid var(--border-color);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    color: var(--fade-color);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem 1.75rem;
    margin-right: 0.1875rem;
    display: block;
    box-shadow: none;
}

.sidenav a:hover {
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 1.6vw;
    }
    .sidenav {
        border-right: 1px solid var(--border-color);
    }
}

.snowbg {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

.snowflake {
    position: fixed;
    background-color: #ffffff; /* default color, change if overlaps with text too much */
    user-select: none;
    z-index: 1;
    pointer-events: none;
    border-radius: 50%;
    width: 0.8vw;
    height: 0.8vw;
    opacity: 1;
}