:root {
    --bg-color: #121212;
    --text-color: #dee4ea;
    --link-color: #518fe4;
    --head-bg-color: #06235d;
    --note-color: #222832;
    --border-color: #48566b;
    --fade-color: #9ca4af;
    --accent-color: #e89217;
}

body {
    background-color: var(--bg-color);
}

p {
    color: var(--text-color);
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65;
    margin-top: 0rem;
    margin-bottom: 1.15rem;
    padding: 0;
}

a {
    color: var(--link-color);
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

h1 {
    color: var(--accent-color);
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 2.1875rem;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--bg-color);
    border-right: 3px solid var(--border-color);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    color: var(--fade-color);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0.5rem 1.75rem;
    margin-right: 0.1875rem;
    display: block;
    box-shadow: none;
}

.sidenav a:hover {
    color: var(--accent-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.content {
    margin-left: 20%;
    padding: 0rem 2rem;
    color: var(--text-color);
}